#adult_table .odd {background-color: #68cbd0;}
#pediatric_table .odd {background-color: #8ABBD7;color:#333333;}

table.dataTable.display td, table.dataTable.display th {
    text-align:left;
}

table.dataTable.display td + td, table.dataTable.display th + th {
    text-align:center;
}


.fa-question-circle{
  position: absolute;
  margin-left: 5px;
  color: #696969;
  
}


.panel-title {
  font-size: 28px;
}

.panel-body {
    padding: 15px;
    margin-top: 10px;
}


.panel-primary {
  border-color: #B0AECE;
  margin-bottom: 50px;
}

.panel-primary>.panel-heading {
  background-color: #B0AECE;
  border-color: #B0AECE;
}


/*This hides the navbar title on the home*/
/*.navbar-brand{display:none;}*/


#img-id{
  position: absolute;
  right: 10px;
  top: 5px;
}


/* This changes the various Nav bar elements (size, colour, hover, etc.) */

.navbar-nav>li>a {
  /* padding-bottom: 15px */
  padding-bottom: 15px;
  font-size: 18px;
  
}

/*default navbar heading style*/

.navbar-default .navbar-nav>li>a {
  color: #777;
  font-size: 30px;
  color: dimgray;
  font-weight: 300;
}
  
/*Hover navbar heading style*/
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover {
  color: #B0AECE;
  background-color: transparent;
  font-size: 35px;
  font-weight: 900;
}

.navbar-default {
    background-color: transparent !important;
}  
  
  
.dataTables_wrapper {
    position: relative;
    clear: both;
    margin-top: 25px;
}  
  
  
b, strong {
    font-weight: bold;
    color: #9898b2;
}

.deconv_option_header{
  font-size: 22px;
  font-weight: 300;
  color: #0000006e;
}


.about_header{
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #b0aece;

}


.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-weight: 400;
    color: #afaecc;
}
  


/* Alter the footer social c*/

#st-1 {
    font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
    direction: ltr;
    padding-bottom: 5px;
    display: block;
    opacity: 1;
    text-align: center;
    z-index: 94034;
}




.h1,.h2,.h3,h1,h2,h3 {
  margin-top: 30px;
}
  
.h3,h3 {
  margin-top: 30px;
  font-size: 24px;
  color: #B0AECE;
}


.h4,h4{
  display: inline;
  font-size: 30px;
  color: #B0AECE;
}

.lead_head {
  color: #818081;
  font-size:35px;
  font-weight: bold;
}

.lead_text {
  color: #818081;
  font-size:28px;
  font-weight: 300;
  margin-bottom: 50px;
}

.hr_runpanel {
    margin-top: 30px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #b0aece;
}


li{
   margin:0 0 5px 0;   
}

ol,ul {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
}


.modal-title{
  color: #696969;
  
}


.simple-ss {
  width:900px;
  height:280px;
  background-color:white;
  margin:auto;
  background-image:url("slider.png");
  background-position:0;
  background-repeat:no-repeat;
  background-size:cover;

/* ANIMATING STUFF */
  animation-name: slide;
  animation-duration: 20s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

/* NOTE CODEPEN AUTOGENERATING -PREFIXES */
@keyframes slide {
  0% {background-position:0 0;}
  25.00% {background-position:0 0;}
  50.00% {background-position:-900px 0;}
  75.00% {background-position:-900px 0;}
  100% {background-position:0 0;}
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
   color: #FF0000;
   font-weight: bold;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.intro-divider {
    height: 6px;
    background: transparent linear-gradient(to right, #C5C4D2 0%, #8685A3 100%) repeat scroll 0% 0%;
    margin-top: 20px;
    margin-bottom: 20px;
}


table {
  width: 100%;
}

th, td {
  padding: 10px;
  vertical-align: top;
  
}


.shiny-input-radiogroup.shiny-input-container-inline label~.shiny-options-group {
    margin-top: 0px;
    color: #959595;
    font-size: 18px;
}


checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
    margin-top: 6px;
    accent-color: #b0aece;
}

.shiny-html-output, shiny-bound-output{
  font-size: 18px;
}

.shiny-output-error-download_tab {
  color: pink;
  font-size: 20px;
}


.shiny-output-error-validation {
  color: #b0aece;
  font-size: 20px;
  margin-top: 10px;
}

.shiny-progress {
  top: 55% !important;
  left: 40% !important;
  margin-top: -100px !important;
  margin-left: -100px !important;
}

#wrap {
  width: 100%; 
  overflow: hidden;
}

.left {
  width: 600px; 
  float: left;
}

.right{
  margin-left: 600px;
}

/*
.container{
  background: #F8F8F8 url(./GlioVis_header.png) no-repeat right center;
}
*/

#footer {
  height:85px;
	padding-right:20px;
	padding-left:20px;
  padding-top: 0px;
  line-height: 18px;
  text-align: center;
  border-color: #E7E7E7;
  border-radius: 0px;
  border-width: 0px 0px 1px;
  /*border: 0px solid #d4d4d4;*/
  background-color: transparent;
/*
	background-color:#fafafa;
	background-image:-moz-linear-gradient(top,#fff,#f2f2f2);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
	background-image:-webkit-linear-gradient(top,#fff,#f2f2f2);
	background-image:-o-linear-gradient(top,#fff,#f2f2f2);
	background-image:linear-gradient(to bottom,#fff,#f2f2f2);
	background-repeat:repeat-x;
	border:1px solid #d4d4d4;
*/	
}

.responsive-image{
        height:auto;
        width:100%;
    }

/* Change the home page width - This was previously set to 900px*/
    
#home {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


#about {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


h4.outer {
  color: #8685A3; 
  font-style: italic;
}


p{
  margin: 0 0 10px;
  font-size: 20px;
}


p.outer {
  font-size: 16px;
}

ol.outer {
  font-size: 16px;
}

.busy { 
  position:absolute;
  background: transparent;
  display:none;
  width: 50%;
  top: 190%;
  left: 25%;
  right: 15%;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-radius: 5px;
  /*margin-top: -100px;
   text-align: center;
   margin-left: -50px;*/
 
}

.well {
  padding: 12px;
  margin-bottom: 30px;
  background-color: white;
  border-color: #b0aece;
}


.col-sm-4 {
  max-width: 400px;
}

.nav-tabs {
  margin-bottom: 10px;
}


.checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}

.form-group {
  margin-top: 0px;
  margin-bottom: 0px;
}

.dataTables_length{
   padding-right: 25px;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #b0aece;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}


.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #b0aece;
    -webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #b0aece;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-size: 25px;
}


.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 10px;
    background-color: white;
    border-color: #b0aece;
}


.btn-download> .btn-default{
    color: #696969;
    background-color: #fff;
    border-color: #b0aece;
    margin-top: -24px;
    font-weight: 500;
}


.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input{
    cursor: pointer;
    border-color: #b0aece;

}


.selectize-input.focus {
  
  border-color: #b0aece;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;

  
}



.btn-default {
    color: #696969;
    background-color: #fff;
    border-color: #b0aece;
    margin-top: 10px;
    font-weight: 500;
}


.btn-success.btn {
  border-color: #b0aece;
  color: #b0aece;
  background-color: white;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  
}

.btn-success.btn:hover,  .btn-success.btn:visited{
    color: #fff;
    background-color: #b0aece;
    border-color: #b0aece;
}

.btn-success.btn:active{
  
  color: #b0aece;
  background-color: #fff;
  border-color: #b0aece;
  
}


/*
.btn-success:focus{
    color: #fff;
    background-color: #b0aece;
    border-color: #b0aece;
}

.btn-success:active:foucus{
  color: #fff;
    background-color: #b0aece;
    border-color: #b0aece;
  
}

.btn-success:active:success{
  color: #fff;
    background-color: #b0aece;
    border-color: #b0aece;
}
*/

.box{
  position:relative;
	background:#fff;
	border-top:2px solid #c1c1c1;
	margin-bottom:20px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	width:100%;
	box-shadow:0 1px 3px rgba(0,0,0,.1)
}

.box.box-primary{
	border-top-color:#3c8dbc
}

.box.box-info{
	border-top-color:#00c0ef
}

.box.box-danger{
	border-top-color:#f56954
}

.box.box-warning{
	border-top-color:#f39c12
}




.box.box-success{
	border-top-color:#00a65a
}

.box.height-control .box-body{
	max-height:300px;
	overflow:auto
}

.box .box-header{
	position:relative;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:0;
	-moz-border-radius-bottomleft:0;
	border-radius:3px 3px 0 0;
	border-bottom:0 solid #f4f4f4;
	color:#444
}

.box .box-header:after,.box .box-header:before{
	display:table;
	content:" "
}

.box .box-header:after{
	clear:both
}

.box .box-header .box-title,.box .box-header>.fa,.box .box-header>.glyphicon,.box .box-header>.ion{
	display:inline-block;
	padding:10px;
	margin:0;
	font-size:20px;
	font-weight:400;
	float:left;
	cursor:default
}

.box .box-header a{
	color:#444
}

.box .box-header>.box-tools{
	padding:5px 10px 5px 5px
}

.box .box-body{
	padding:10px;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius-topleft:0;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-bottomleft:3px;
	border-radius:0 0 3px 3px
}

.box .box-body>.table,.box .box-body>table{
	margin-bottom:0
}

.box .box-body.chart-responsive{
	width:100%;
	overflow:hidden
}

.box .box-body>.chart{
	position:relative;
	overflow:hidden;
	width:100%
}

.box .box-body>.chart canvas,.box .box-body>.chart svg{
	width:100%!important
}

.box .box-body .fc{
	margin-top:5px
}

.box .box-body .fc-header-title h2{
	font-size:15px;
	line-height:1.6em;
	color:#666;
	margin-left:10px
}

.box .box-body .fc-header-right{
	padding-right:10px
}

.box .box-body .fc-header-left{
	padding-left:10px
}

.box .box-body .fc-widget-header{
	background:#fafafa;
	box-shadow:inset 0 -3px 1px rgba(0,0,0,.02)
}

.box .box-body .fc-grid{
	width:100%;
	border:0
}

.box .box-body .fc-widget-content:first-of-type,.box .box-body .fc-widget-header:first-of-type{
	border-left:0;
	border-right:0
}

.box .box-body .fc-widget-content:last-of-type,.box .box-body .fc-widget-header:last-of-type{
	border-right:0
}

.box .box-body .table{
	margin-bottom:0
}

.box .box-body .full-width-chart{
	margin:-19px
}

.box .box-body.no-padding .full-width-chart{
	margin:-9px
}

.box .box-footer{
	border-top:1px solid #f4f4f4;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius-topleft:0;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-bottomleft:3px;
	border-radius:0 0 3px 3px;
	padding:10px;
	background-color:#fff
}

.box.box-solid{
	border-top:0
}

.box.box-solid>.box-header{
	padding-bottom:0!important
}

.box.box-solid>.box-header .btn.btn-default{
	background:0 0
}

.box.box-solid.box-primary>.box-header{
	color:#fff;
	background:#3c8dbc
}

.box.box-solid.box-primary>.box-header a{
	color:#444
}

.box.box-solid.box-info>.box-header{
	color:#fff;
	background:#00c0ef
}

.box.box-solid.box-info>.box-header a{
	color:#444
}

.box.box-solid.box-danger>.box-header{
	color:#fff;
	background:#f56954
}

.box.box-solid.box-danger>.box-header a{
	color:#444
}

.box.box-solid.box-warning>.box-header{
	color:#fff;
	background:#f39c12
}

.box.box-solid.box-warning>.box-header a{
	color:#444
}

.box.box-solid.box-success>.box-header{
	color:#fff;
	background:#00a65a
}

.box.box-solid.box-success>.box-header a{
	color:#444
}

.box.box-solid>.box-header>.box-tools .btn{
	border:0;
	box-shadow:none
}

.box.box-solid.collapsed-box .box-header{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}

.box.box-solid[class*=bg]>.box-header{
	color:#fff
}

.box .box-group>.box{
	margin-bottom:5px
}

.box .knob-label{
	text-align:center;
	color:#333;
	font-weight:100;
	font-size:12px;
	margin-bottom:.3em
}

.box .todo-list{
	margin:0;
	padding:0;
	list-style:none
}

.box .todo-list>li{
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	padding:10px;
	background:#f3f4f5;
	margin-bottom:2px;
	border-left:2px solid #e6e7e8;
	color:#444
}

.box .todo-list>li:last-of-type{
	margin-bottom:0
}

.box .todo-list>li.danger{
	border-left-color:#f56954
}

.box .todo-list>li.warning{
	border-left-color:#f39c12
}

.box .todo-list>li.info{
	border-left-color:#00c0ef
}

.box .todo-list>li.success{
	border-left-color:#00a65a
}

.box .todo-list>li.primary{
	border-left-color:#3c8dbc
}

.box .todo-list>li>input[type=checkbox]{
	margin:0 10px 0 5px
}

.box .todo-list>li .text{
	display:inline-block;
	margin-left:5px;
	font-weight:600
}

.box .todo-list>li .label{
	margin-left:10px;
	font-size:9px
}

.box .todo-list>li .tools{
	display:none;
	float:right;
	color:#f56954
}

.box .todo-list>li .tools>.fa,.box .todo-list>li .tools>.glyphicon,.box .todo-list>li .tools>.ion{
	margin-right:5px;
	cursor:pointer
}

.box .todo-list>li:hover .tools{
	display:inline-block
}

.box .todo-list>li.done{
	color:#999
}

.box .todo-list>li.done .text{
	text-decoration:line-through;
	font-weight:500
}

.box .todo-list>li.done .label{
	background:#eaeaec!important
}

.box .todo-list .handle{
	display:inline-block;
	cursor:move;
	margin:0 5px
}

.box .chat{
	padding:5px 20px 5px 10px
}

.box .chat .item{
	margin-bottom:10px
}

.box .chat .item:after,.box .chat .item:before{
	display:table;
	content:" "
}

.box .chat .item:after{
	clear:both
}

.box .chat .item>img{
	width:40px;
	height:40px;
	border:2px solid transparent;
	-webkit-border-radius:50%!important;
	-moz-border-radius:50%!important;
	border-radius:50%!important
}

.box .chat .item>img.online{
	border:2px solid #00a65a
}

.box .chat .item>img.offline{
	border:2px solid #f56954
}

.box .chat .item>.message{
	margin-left:55px;
	margin-top:-40px
}

.box .chat .item>.message>.name{
	display:block;
	font-weight:600
}

.box .chat .item>.attachment{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#f0f0f0;
	margin-left:65px;
	margin-right:15px;
	padding:10px
}

.box .chat .item>.attachment>h4{
	margin:0 0 5px;
	font-weight:600;
	font-size:14px
}

.box .chat .item>.attachment>.filename,.box .chat .item>.attachment>p{
	font-weight:600;
	font-size:13px;
	font-style:italic;
	margin:0
}

.box .chat .item>.attachment:after,.box .chat .item>.attachment:before{
	display:table;
	content:" "
}

.box .chat .item>.attachment:after{
	clear:both
}

.box>.loading-img,.box>.overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}

.box>.overlay{
	z-index:1010;
	background:rgba(255,255,255,.7)
}

.box>.overlay.dark{
	background:rgba(0,0,0,.5)
}

.box>.loading-img{
	z-index:1020;
	background:url(../img/ajax-loader1.gif) 50% 50% no-repeat
}

.dataTables_filter input { 
  width: 60px 
  }
  
.icon {
  width: 30px;
  height: 30px;
}  
  

/*
.table-bordered
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  background: #fff;
  margin: 10px;
  margin-bottom: 30px;
  border: none;
  border-collapse: collapse;
  text-align: center;
}
.table-bordered th
{
  font-size: 14px;
  font-weight: normal;
  color: #000;
  padding: 10px 8px;
  border: none;
  border-bottom: 2px solid #777;
}
.table-bordered td
{
  border: none;
  border-bottom: 1px solid #ccc;
  color: #444;
  padding: 4px 6px;
}
.table-bordered tbody tr:hover td
{
  color: #777;
}
*/